---
const { title, description } = Astro.props;
---

<div class="bg-white dark:bg-gray-800 shadow-md hover:shadow-xl rounded-2xl p-6 hover:scale-[1.02] transition">
  <h3 class="text-xl font-semibold mb-2">{title}</h3>
  <p class="text-gray-600 dark:text-gray-400">{description}</p>
</div>
